.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache/*
*_files/*
*.rds
local_cases_input.csv
titlepage.png
*.tex
*.log
figure/austa*.pdf
figure/cover.pdf
figure/qs*.pdf
figure/pdfqs*.pdf
figure/ensemble*.pdf
figure/elec*.pdf
figure/elecscatter*.png
outputs
*.synctex.gz
*.fdb_latexmk
.quarto/*
